DATABASE_URL="file:./dev.db"
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL="http://localhost:3000"

STRIPE_PRICE_LIGHT=
STRIPE_PRICE_COACH=
STRIPE_PRICE_BUSY=

AUTH_SECRET=
RESEND_API_KEY=
MAIL_FROM=
